<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="22.2.5" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="2.8.2.2" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="2.8.2.2" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2.2" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.2" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.2" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.2" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.2" targetFramework="net472" />
  <package id="Syncfusion.Compression.Net.Core" version="20.4.0.48" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="21.1.39" targetFramework="net472" />
  <package id="Syncfusion.SkiaSharpHelper.Net.Core" version="20.4.0.48" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="TagLibSharp" version="2.3.0" targetFramework="net472" />
</packages>